.post {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: 66px;
    
}


.box {
    display: flex;
    padding: 16px ;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    width: 100%;
}





.box input {
    background: var(--gray-500, #262626);
    border: 1px solid var(--gray-700, #0D0D0D);
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px;
    color: var(--gray-100, #F2F2F2);
}

.button {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 0;

    border-radius: 8px;
    background: var(--blue-dark, #1E6F9F);
}



.boxtask input button {
        align-items: center;
        margin: 0 auto;
        margin-top: 16px;
}


.container  {
    width: 790px;
    height: auto;
    
    justify-content: center;
    align-items: center;
}

.conclud {
    color: var(--purple, #8284FA);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   

    display: flex;
    align-items: center;
    gap: 8px;

}

.create {
    color: var(--blue, #4EA8DE);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: flex;
    align-items: center;
    gap: 8px;
}

.grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.createh2 {
    color: var(--gray-200, #D9D9D9);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.grid1 {
    display: flex;
    padding: 2px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;



    border-radius: 999px;
    background: var(--gray-400, #333);
}


.grid2 {
    display: flex;
    padding: 2px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;



    border-radius: 999px;
    background: var(--gray-400, #333);
}

.createconclud {
    color: var(--gray-200, #D9D9D9);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}