.wrapper {
    max-height: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;
    

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

.textarea {

    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    margin-top: -54px;

}



@media (max-width: 638px) {
    html {
        font-size: 100%;
    }
}

.wrapper {
    grid-template-columns: 1fr;
}

